body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: background-color 0.5s ease;
}

.profile-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.greeting-line {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.name {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}

.sign-out {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sign-out:hover {
  background-color: #555;
}

/* Set background color based on time of day */
.day-time {
  background-color: #f4f4f4;
}

.night-time {
  background-color: #333;
  color: #fff;
}
