body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  overflow: hidden;
  background: linear-gradient(45deg, #1a1a1a, #000);
  animation: gradientAnimation 15s ease infinite;
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 300px;
  margin: 100px auto;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
  color: #4caf50; /* Green color for the header */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #4caf50; /* Green color for the bottom border */
  color: white;
  outline: none;
  transition: border-bottom 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button:hover {
  background-color: #45a049;
}

.link {
  text-decoration: none;
  color: white;
}
