<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Website</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <canvas id="stars"></canvas>

    <main>
      <button onclick="location.href=''">Contact</button>
      <button onclick="location.href='/project/users/signup'">Sign Up</button>
      <button onclick="location.href='/project/users/login'">Login</button>
    </main>

    <script src="/home.ejs"></script>
  </body>
</html>
